#ig {
    width: auto;
    max-height: 100%; 
}
body {
    background-color: antiquewhite;
}
.dv {
    display: inline-block;
    border-width: 1%;
    border-style: solid;
    
}
#pd {
    background-image: url(Images/capybara-pattern-with-pink-hearts-vector-cute-cartoon-capy-animal-print-kids-lovely-wallpaper_166089-3804.jpg);
   
}
#d2 {
    background-color: antiquewhite;
    border-width: 1%;
    overflow: auto;
    height: 60%;
    width: 60%;
    padding: 1%;
   
}
#h1 {
    font-size: 40px;
    background-color: antiquewhite;
    border-width: 1%;
    border-bottom-style: solid;
}
#pd {
    width: 100%;
    height: 100%;
    background-color: pink;
    text-align: center;
}
#bdl {
    width: 30%;
    border-width: 3px;
    border-style: solid;
   
}
#dw {
    color: inherit;
}
.Bt {
    width: 20%;
    border-width: 3px;
    border-style: solid;
    cursor: pointer;
    color: black;
    display: block;
}
#br {
    float: right;
    transform: translateX(-40%);
}
#bl {
    float: left;
    transform: translateX(40%);
}
#d3 {
    width: 60%;
    border-top: 0px;
    padding-top: 1%;
    height: 9%;
    background-color: antiquewhite;
    
}
#d2 {
     margin-top: 6%;  
}
@media (device-width >= device-height) {
    body {
        background-color: red;
    }
}
