#h1 {
    font-size: 15px;
}
#d2 {
    height: 20%;
    width: 75%;
    margin-top: 15%;
}
#d3 {
    width: 75%;
    border-top: 0px;
    padding-bottom: 4px;
    padding-top: 4px;
    height: auto;
    background-color: antiquewhite;

    
}
.Bt {
    border-width: 1px;
}
#bdl {
    border-width: 1px;
}
