#h1 {
    font-size: 20px;
    border-width: 0px;
    transform: translateY(40%);
    
}
header {
    height: 8%;
    border-bottom-width: 1%;
    border-bottom-style: solid;
}
#d2 {
    height: 22%;
    width: 75%;
    margin-top: 20%;
}
#d3 {
    width: 75%;
    border-top: 0px;
    padding-bottom: 4px;
    padding-top: 4px;
    height: auto;   
}
.Bt {
    border-width: 1px;
}
#bdl {
    border-width: 1px;
}
